Repository gravitystorm/openstreetmap-carto, pull requests merged in 2019-12, with the labels that each got.

#3887 Remove protected area fill color
  admin.mss
  amenity-points.mss
Labels: admin, enhancement

#3989 Fix syntax of font list and enable Armenian font
  fonts.mss
Labels: bug

#3599 Add support of parking=multi-storey to amenity=parking_entrance
  amenity-points.mss
  project.mml
  symbols/amenity/parking_entrance_multistorey.svg
  symbols/amenity/parking_entrance_underground.svg
Labels: POI, new features
