Repository gravitystorm/openstreetmap-carto, pull requests merged in 2020-02, with the labels that each got.

#4014 Import waterway=tidal_channel as a linestring
  openstreetmap-carto.lua
Labels: lua

#4015 Import the key `craft=` as a polygon
  openstreetmap-carto.lua
Labels: lua

#4024 Change geometry to "point" for building-text, text-poly-low-zoom & roads-area-text-name layers
  project.mml
Labels: code

#4013 Import natural=earth_bank as a linestring
  openstreetmap-carto.lua
Labels: lua

#4020 Import closed ways with the key `club=` as polygons
  openstreetmap-carto.lua
Labels: lua

#4017 Import the key "golf=" as polygon features, with exceptions for golf=hole, path and cartpath
  openstreetmap-carto.lua
Labels: lua

#3785 Add boundary= aboriginal_lands, national_park, and protected_area to polygon keys
  openstreetmap-carto.lua
Labels: input needed, lua

#4023 Import emergency= features as polygons, with exceptions
  openstreetmap-carto.lua
Labels: lua

#3952 Reduce landcover fading at mid-low zoom levels
  landcover.mss
Labels: consensus needed, landcover

#4032 Change area decisions at import time
  indexes.sql
  indexes.yml
  openstreetmap-carto.lua
  scripts/lua/test.lua
Labels: lua

#4040 Fix whitespace around hstore extract operator
  project.mml
Labels: code
