Repository gravitystorm/openstreetmap-carto, pull requests merged in 2020-03, with the labels that each got.

#3855 Remove overlay pattern for natural=sand
  landcover.mss
  project.mml
Labels: consensus needed, enhancement, landcover, pattern

#4045 Remove rendering of power=cable features
  project.mml
Labels: power, remove rendering

#4047 Move MSS files to style directory
  .travis.yml
  INSTALL.md
  project.mml
  scripts/generate_road_colours.py
  style/addressing.mss
  style/admin.mss
  style/aerialways.mss
  style/amenity-points.mss
  style/buildings.mss
  style/ferry-routes.mss
  style/fonts.mss
  style/landcover.mss
  style/placenames.mss
  style/power.mss
  style/road-colors-generated.mss
  style/roads.mss
  style/shapefiles.mss
  style/stations.mss
  style/style.mss
  style/water-features.mss
  style/water.mss
Labels: code

#4058 Remove tags from deleted that are no longer common in the DB
  openstreetmap-carto.lua
Labels: code

#4075 Add z-order for roads under construction
  openstreetmap-carto.lua
  scripts/lua/test.lua
Labels: lua

#4061 Add Github Actions in parallel to Travis
  .github/workflows/ci.yml
Labels: code

#4060 Remove way_area filtering for low zoom water and simplify code
  style/water.mss
Labels: water

#4044 Move small amenities to z18
  style/amenity-points.mss
Labels: amenity-points

#4068 Remove duplicate selection of cave_entrance, peak, volcano and saddle
  project.mml
Labels: bug

#4063 Change quarry outline to 10% darkened quarry color
  style/landcover.mss
Labels: landcover

#4080 Remove unused `VALUES` join from roads-text-name
  project.mml
Labels: code

#4081 Remove unneeded `ELSE NULL` from case statements
  project.mml
Labels: code

#4083 Standardize ORDER BY to use CASE expressions
  project.mml
Labels: code

#3767 Add line rendering plus name labels for ridges and aretes
  project.mml
  style/landcover.mss
  symbols/arete-mid.svg
  symbols/arete2.svg
  symbols/ridge-mid.svg
  symbols/ridge2.svg
Labels: new features

#4088 Remove power=sub_station/station rendering, add power=plant fill color
  project.mml
  style/amenity-points.mss
  style/landcover.mss
Labels: landcover, remove rendering

#4079 Update keyserver URL for osmadmins PPA
  Dockerfile.import
Labels: docker

#4066 Change bridge-text way_pixels minimum and maximum
  project.mml
  style/roads.mss
Labels: text

#4086 Remove information=tactile_model rendering
  style/amenity-points.mss
Labels: amenity-points, remove rendering

#4069 Move natural=spring back to amenity-points layer
  project.mml
  style/amenity-points.mss
  style/water-features.mss
Labels: amenity-points

#3843 Add sports_centre (@stadium) fill color for leisure=water_park areas
  project.mml
  style/landcover.mss
Labels: landcover

#4093 Remove icon for shop=ice_cream
  project.mml
  style/amenity-points.mss
  symbols/amenity/ice_cream.svg
Labels: POI, remove rendering
